/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}


/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    margin: 0;
}

/* Header */
h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}

/* Table */
#ordersTable {
    display: inline-block;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: small;
    max-height: 280px;
    overflow: scroll;
}

#ordersTable tr{
    border: 2px solid black;
}

#ordersTable th, #ordersTable td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #181313;
}

#ordersTable th {
    background-color: #4CAF50;
    color: white;
}

#ordersTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#ordersTable tr:hover {
    background-color: #ddd;
}


#orderViewer{
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #1d1919;
    opacity: 0.95;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#orderViewer h1{
    position: absolute;
    color: white;
    top: 25%;
    left: 50%;
    transform: translate(-75%, -50%);
    font-size: 50px;
}

#orderItem{
    position: relative;
    color: #f1e1e1;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    
}

#close{
    position: absolute;
    max-width: 70px;
    color: black;
    font-weight: 800;
    top: 50px;
    right: 100px;
    padding: 12px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Back Button */
#backBtn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    
    display: inline-block;
    text-align: center;
}

#backBtn:hover {
    background-color: #45a049;
}

